.icon{
    width: 35px;
    height: 35px;
}
nav{
    border-bottom: 5px;
}
/* #container{
    background-image: url("https://images.hdqwalls.com/download/ultimate-supercars-k6-1920x1080.jpg")
} */
body{
    height: 100%;
}